body {
  background-color: yellow;
  font-family:"Open Sans";
  margin: 0px auto;
}

nav {
  background-color: yellow;
  display: flex;
  height:60px;
  justify-content: space-between;
  width: 100%;
}

h1 {
  align-self: center;
  display: inline;
  font-size: 30px;
}

h2 {
  font-size: 30px;
  margin-top: 75px;
}

.name-input-container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.start{
  align-items: center;
  background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), url(assets/background.jpg) no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
}

.input {
  border: 1px solid black;
  height: 40px;
  text-align: center;
}

.page-two {
  align-items: center;
  background: linear-gradient( rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75) ), url(assets/background.jpg) no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  height: 725px;
}

.instructions {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.75em;
  margin-top: 5px;
  letter-spacing: -0.05em;
  width: 750px;
}

.card {
  background-image: url(assets/card-front.jpg);
  border: 2px solid red;
  height: 175px;
  margin: 35px 50px 15px 50px;
  width: 150px;
  color: transparent;
}

.flip-back0 {
  animation: flip-vertical-back-1 .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation-delay: 2.1s;
}

.flip-fwd0 {
 animation: flip-vertical-fwd-1 .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.flip-back1 {
  animation: flip-vertical-back-2 .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation-delay: 2.1s;
}

.flip-fwd1 {
 animation: flip-vertical-fwd-2 .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.flip-back2 {
  animation: flip-vertical-back-3 .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation-delay: 2.1s;
}

.flip-fwd2 {
 animation: flip-vertical-fwd-3 .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.flip-back3 {
  animation: flip-vertical-back-4 .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation-delay: 2.1s;
}

.flip-fwd3 {
 animation: flip-vertical-fwd-4 .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.flip-back4 {
  animation: flip-vertical-back-5 .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation-delay: 2.1s;
}

.flip-fwd4 {
 animation: flip-vertical-fwd-5 .8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

#scores {
  display: none;
  flex-direction: row;
  justify-content: space-around;
}

#icon {
  background-color: yellow;
  background-image: url("assets/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 3px solid black;
  height: auto;
  width:5%;
}

#center-nav {
  width:5.209%;
}

#p1-text {
  align-self: center;
  color: red;
  font-size: 20px;
}

#p2-text {
  align-self: center;
  color: blue;
  font-size: 20px;
}

#straighten-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:78%;
}

#play-game-btn {
  background-color: #000000;
  color: #ffffff;
  height: 40px;
  margin-top: 30px;
  opacity: 0;
  width: 58.5%;
}

#play-game-btn-two {
  background-color: #000000;
  color: #ffffff;
  height: 40px;
  margin-top: 30px;
  width: 58.5%;
}

/* this is the css for my 3rd pg */
h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}

.game-page {
  border-top: 2px solid black;
  display: grid;
  grid-template-areas: "left game right";
  grid-template-columns: 1fr 3.5fr 1fr;
}

.margin {
  margin-top:3.5%;
}

.score {
  font-size: 75px;
  font-weight: 800;
  margin: 5px;
}

.box {
  align-items: center;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.congrats {
  font-size: 40px;
  letter-spacing: 0.05em;
  margin: 45px 10px 0px 10px;
  text-align: center;
}

.start-time {
  background-color: yellow;
  height:10%;
  font-size: 24px;
  font-weight: 800;
  width:50%;
}

#start-msg {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  text-align: center;
  width: 80%;
}

#p1-left {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  grid-area: left;
}

#game-section {
  grid-area: game;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url(assets/background.jpg);
  background: linear-gradient( rgba(255, 255, 255, 0.825), rgba(255, 255, 255, 0.825) ), url(assets/background.jpg) no-repeat;
  background-size: cover;
  height: 700px;
}

#p2-right {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  grid-area: right;
}

#cardArray3,
#cardArray4,
#cardArray5,
#cardArray6 {
  margin-left: 8px;
  margin-right: 8px;
}

@keyframes flip-vertical-fwd-1 {
  0% {
  }
  50% {
    background-image: url(assets/card-front.jpg);
  }
  50.5%{
    background-image: url(assets/card1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  100% {
    background-image: url(assets/card1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transform: rotateY(180deg);
  }
}

@keyframes flip-vertical-back-1 {
  0% {
    background-image: url(assets/card1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transform: rotateY(180deg);
  }
  50%{
    background-image: url(assets/card1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  50.5% {
    background-image: url(assets/card-front.jpg);
  }
  100% {
    background-image: url(assets/card-front.jpg);
    transform: rotateY(0deg);
  }
}

@keyframes flip-vertical-fwd-2 {
  0% {
  }
  50% {
    background-image: url(assets/card-front.jpg);
  }
  50.5%{
    background-image: url(assets/card2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  100% {
    background-image: url(assets/card2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transform: rotateY(180deg);
  }
}

@keyframes flip-vertical-back-2 {
  0% {
    background-image: url(assets/card2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transform: rotateY(180deg);
  }
  50%{
    background-image: url(assets/card2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  50.5% {
    background-image: url(assets/card-front.jpg);
  }
  100% {
    background-image: url(assets/card-front.jpg);
    transform: rotateY(0deg);
  }
}

@keyframes flip-vertical-fwd-3 {
  0% {
  }
  50% {
    background-image: url(assets/card-front.jpg);
  }
  50.5%{
    background-image: url(assets/card3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  100% {
    background-image: url(assets/card3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    transform: rotateY(180deg);
  }
}

@keyframes flip-vertical-back-3 {
  0% {
    background-image: url(assets/card3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    transform: rotateY(180deg);
  }
  50%{
    background-image: url(assets/card3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  50.5% {
    background-image: url(assets/card-front.jpg);
  }
  100% {
    background-image: url(assets/card-front.jpg);
    transform: rotateY(0deg);
  }
}

@keyframes flip-vertical-fwd-4 {
  0% {
  }
  50% {
    background-image: url(assets/card-front.jpg);
  }
  50.5%{
    background-image: url(assets/card4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  100% {
    background-image: url(assets/card4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transform: rotateY(180deg);
  }
}

@keyframes flip-vertical-back-4 {
  0% {
    background-image: url(assets/card4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transform: rotateY(180deg);
  }
  50%{
    background-image: url(assets/card4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  50.5% {
    background-image: url(assets/card-front.jpg);
  }
  100% {
    background-image: url(assets/card-front.jpg);
    transform: rotateY(0deg);
  }
}

@keyframes flip-vertical-fwd-5 {
  0% {
  }
  50% {
    background-image: url(assets/card-front.jpg);
  }
  50.5%{
    background-image: url(assets/card5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  100% {
    background-image: url(assets/card5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    transform: rotateY(180deg);
  }
}

@keyframes flip-vertical-back-5 {
  0% {
    background-image: url(assets/card5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    transform: rotateY(180deg);
  }
  50%{
    background-image: url(assets/card5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  50.5% {
    background-image: url(assets/card-front.jpg);
  }
  100% {
    background-image: url(assets/card-front.jpg);
    transform: rotateY(0deg);
  }
}
